<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1549923746-9507eec27243?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">
  Let's edit your outfit!
</div>
<div class="form-style-5">
  <%= simple_form_for [ @user, @outfit ] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Update this outfit", class: "btn btn-primary" %>
  <% end %>
</div>
