<%= render 'shared/navbar' %>

<div class="container mt-3">

  <div class="row">
    <div class="col-12">
      <h1><%= current_user.full_name %>'s profile</h1>
    </div>
  </div>

  <h2>outfits</h2>

  <div class="row">
    <% @outfits.each do |outfit| %>
      <div class="col-4">
        <div class="outfit-card">
          <div class="outfit-card-image" style="background-image: url('<%= outfit.image %>')"></div>
          <div class="outfit-card-content">
            <div class="outfit-card-title">
              <h4><%= outfit.name %></h4>
            </div>
            <p><%= outfit.category %></p>
            <div class="flex">
              <div class="flex ml-3">
                <i class="material-icons mr-2">€</i> <%= outfit.price %>
              </div>
            </div>
          </div>
          <div class="outfit-card-actions">
            <%= link_to 'More info', outfit_path(outfit) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <h2>My reservations</h2>

  <div class="row">
        <div class="col-4">
          <div class="reservation-card">
            <div class="reservation-card-image"></div>
            <div class="reservation-card-content">
              <div class="reservation-card-title">
                <h4><%= @reservations.start_date %></h4>
              </div>
              <p><%= @reservations.status %></p>
            </div>
          </div>
        </div>
  </div>

